input[type="checkbox"].ios-switch {
    display: none;
    + label {
        
        position: relative;
        padding: 0 0 0 37px;
        line-height: 1.3em;

        &:before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 30px; /* x*6 */
            height: 15px; /* x*3 */
            border-radius: 10px; /* x*2 */
            background: #fff;
            border: 1px solid #d9d9d9;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        &:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 15px; /* x*3 */
            height: 15px; /* x*3 */
            border-radius: 10px; /* x*2 */
            background: #fff;
            border: 1px solid #d9d9d9;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0 0 3px rgba(0,0,0,0.3);
            }
        }
    }

    &:checked {
        + label:before {
            background: #55D069;
            border-color: #55D069;
        }
        + label:after {
            margin-left: 15px; /* x*2 */
            border-color: #55D069;
        }
    }

    &:checked.orange {
        + label:before, + label:after { border-color: #fa0; }
        + label:before { background: #fb4; }
    }
}
